<div class="interest-modal">
  <% if celestial.interests.any? { |interest| interest.user == current_user }%>
    <div class="refusal text-left"> You have already expressed interest.</div>
     <div class="refusal text-left"> Check your inbox, earthling!</div>
  <% elsif celestial.user != current_user %>
      <button type="button" class="button-main" data-toggle="modal" data-target="#interestModal" style="margin: 0">
        Make Bid
      </button>
  <% end %>

  <div class="modal fade" id="interestModal" tabindex="-1" role="dialog" aria-labelledby="interestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="interestModalLabel">
            Express your interest in <%= celestial.name %>
          </h5>
        </div>
        <div class="modal-body">
          <% if conversation %>
            <%= simple_form_for(conversation) do |f| %>
              <%= f.input :recipient, label: 'Recipient', input_html: { value: celestial.user.full_name} , disabled: true, as: :text %>
              <%= f.input :greeting, label: 'Your message' %>
              <%= hidden_field_tag 'celestial_id', celestial.id %>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= submit_tag("Send", class: 'btn btn-primary', id: 'interest-send', data: { disable_with: "Sending..." }) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
