<div class="container">
<!-- FILTERS -->
<br>
<%= render 'shared/filters' %>

<!-- CELESTIALS -->
<br>
<% @celestials.each do |celestial| %>
<br>
<p>€<%= celestial.price %>: <strong><%= celestial.name %></strong> (category: <%= celestial.category %>)</p>
<% end %>

<%= render 'shared/card' %>

</div>
<!-- /.container -->

