<div class="grid-container">
  <div class="celestial-photo">
    <%= cl_image_tag @celestial.photo, width: 500, height: 620, crop: :scale %>
  </div>
  <div class="celestial-desciption">
    <h1><%= @celestial.name %> <%= link_to "| edit", edit_celestial_path(@celestial) if policy(@celestial).update? %></h1>
    <div class="content">
      <p><strong>Owner</strong> | <%= @celestial.user.full_name %></p>
      <p><strong>Price</strong> | €<%= @celestial.price %></p>
      <p><strong>Category</strong> | <%= @celestial.category.capitalize %></p>
      <p><strong>Location</strong> | <%= @celestial.location %></p>
      <p><strong>Description</strong> | <%= @celestial.description ? @celestial.description : "No description provided" %></p>
    </div>
    <!-- Modal -->
    <%= render 'interest', message: @message %>
  </div>
</div>
