<div class="full-height">
  <div class="page-container flexbox-horizontal">

    <!-- image side -->
    <div class="photo-side">
      <%= cl_image_tag @celestial.photo, :gravity=>"east", :crop=>"fill", id:"show-image" %>
    </div>

    <!-- details side -->
    <div class="details-side flexbox-horizontal">
      <div class="content-box text-center">
        <h1><%= @celestial.name %></h1>
        <div class="show-features">
          <p><strong class="gold">Price:</strong> €<%= @celestial.price %></p>
          <p><strong class="gold">Category:</strong> <%= @celestial.category.capitalize %></p>
        </div>
        <div class="primary-margin">
          <p><%= @celestial.description %></p>
        </div>

        <div class="show-features">
          <!-- modal 1 -->
          <%= render 'interest', celestial: @celestial, conversation: @conversation %>

          <!-- modal 2 -->
          <%= render 'seller', celestial: @celestial %>
        </div>
      </div>
    </div>
  </div>
</div>
