<div class="container" id="welcome">
  <div><h2>Welcome, <%= current_user.first_name %>!</h2></div>
</div>

<div class="tab-container">
  <div class="tab">
    <button id="profile-button" class="tablinks" onclick="openPage(event, 'Profile')"><h4><i class="fas fa-user-astronaut"></i>My Profile</h4></button>
    <button class="tablinks" onclick="openPage(event, 'Interests')"><h4><i class="fas fa-space-shuttle"></i>My Interests</h4></button>
    <button class="tablinks" onclick="openPage(event, 'Celestials')"><h4><i class="fas fa-sun"></i>My Celestials</h4></button>
  </div>

  <div id="Profile" class="tabcontent">
    <div class="tab-body">
       <div clas="content">
        <h2><%= current_user.first_name %> <%= current_user.last_name %>  <div><%= cl_image_tag current_user.avatar,
      transformation: [{ height: 100, width: 100, crop: :thumb, gravity: :face}], style: "border-radius:50%;"%></h2></div>
        <h3><%= current_user.bio %></h3>
       </div>
      <button class="button-main"><%= link_to "Edit My Profile", edit_user_path(current_user) %></button>
      <div id="delete"><%= link_to "Delete My Profile", user_registration_path(current_user), method: :delete, data: { confirm: "Are you sure about this? The celestial gods will be angry!"} %></div>
    </div>
  </div>

  <div id="Interests" class="tabcontent">
    <div class="tab-body">
      <div class="tab-card">
        <div class="content">
          <% 'current_user.celestials.interests.each do |interest|' %>
          <h3><%= 'interest.name' %></h3>
        </div>
        <button class="button-main">See Details</button>
      </div>
    </div>
  </div>

  <div id="Celestials" class="tabcontent">
    <div class="tab-body">
      <div class="tab-card">
        <div class="content">
          <% current_user.celestials.each do |celestial| %>
            <h3><strong><%= celestial.name %></strong> (category: <%= celestial.category %>)</h3>
            <p>€<%= celestial.price %></p>
        </div>
            <button class="button-main"><%= link_to "Delete Celestial", celestial_path(celestial), method: :delete, data: { confirm: "Are you sure?"} %></button>
          <% end %>
        </div>
      <button class="button-main"><%= link_to "Add a Celestial", new_celestial_path(current_user) %></button>
    </div>
  </div>

</div>


<script>

function openPage(evt, headingName) {

    // Declare all variables
    var i, tabcontent, tablinks;
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(headingName).style.display = "block";
    event.currentTarget.className += " active";
}

document.getElementById('profile-button').focus();
openPage(event,'Profile');
</script>

