<div class="container">
  <h1>Welcome <%= @user.first_name %></h1>
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  <h3><%= "Embedded Avatar Photo, OR Add Photo" %></h3>
  <h3><%= "Embedded celestials, AND Add Celestial" %></h3>
  <h3><%= "Message notifications" %></h3>
  <h3><%= "Embedded Bio, OR Add Bio" %></h3>
  <%= link_to "Edit My Profile", edit_user_path(current_user) %>
</div>
