<div class="container">
  <h1><%= @user.first_name %></h1>
  <h2><%= @user.last_name %></h2>
  <div><%= cl_image_tag @user.avatar height: 300, width: 400, crop: :fill %></div>
  <p><%= @user.bio %></p>
      <%= f.input :bio %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

                    t.string :first_name, null: false
      t.string :last_name, null: false

      t.text :bio
</div>

