<a href='/celestials/<%= celestial.id %>' style="text-decoration: none;">
<div class="card" data-effect="zoom">
  <figure  class="card__image">
    <%= cl_image_tag celestial.photo, alt: celestial.name %>
  </figure>
  <div class="card__header">
    <figure class="card__profile">

    </figure>
  </div>
  <div class="card__body">
    <div class="black-bar">
      <h3 class="card__name"><%= celestial.name %></h3>
      <p class="card__price">€<%= celestial.price %></p>
    </div>
    <p class="card__bio"></p>
  </div>
  <div class="card__footer">
    <p class="card__category center-text" align="center"><%= celestial.category %></p>
  </div>
</div>
</a>
