<!-- filters -->
<div class="filter-container">
  <button class='button-main <%= "active" if @categories %>' data-toggle="modal" data-target="#category">
    Category
  </button>
  <button class='button-main <%= "active" if @min_max %>' data-toggle="modal" data-target="#price">
    Price
  </button>
</div>


<!-- category modal -->
<div class='modal fade' id="category" role="dialog">
  <div class="modal-dialog">

    <!-- category content-->
    <div class="modal-content modal-padding modal-background">
      <p class="text-center">What kind of celestial are you interested in?</p>
      <%= form_tag({}, {method: :get, enforce_utf8: browser.ie?}) do %>
        <% Celestial::CATEGORIES.each do |category| %>
          <%= check_box_tag 'category[]', category, checked = @categories && @categories.include?(category)%>
          <%= category %>
          <br>
        <% end %>
        <!-- sneak in previously filtered min and max values -->
        <% unless @min_max.nil? %>
          <%= hidden_field_tag 'min', @min_max.first %>
          <%= hidden_field_tag 'max', @min_max.last %>
        <% end %>
        <div class="button-container">
        <%= submit_tag("filter", name: nil, class: 'btn btn-primary') %>
      <% end %>

      <!-- button to clear the filter -->
      <%= form_tag({}, {method: :get, enforce_utf8: browser.ie?}) do %>
        <% unless @min_max.nil? %>
          <%= hidden_field_tag 'min', @min_max.first %>
          <%= hidden_field_tag 'max', @min_max.last %>
        <% end %>
        <%= submit_tag("clear", name: nil, class: 'btn btn-primary') %>
      <% end %>
      </div>

    </div>

  </div>
</div>


<!-- price modal -->
<div class="modal fade" id="price" role="dialog">
  <div class="modal-dialog">

    <!-- price content-->
    <div class="modal-content modal-padding modal-background">
      <p class="text-center">The average celestial price is €<%= @ave_price.round  %> </p>
      <%= form_tag({}, {method: :get, enforce_utf8: browser.ie?}) do %>
        <%= render 'shared/slider' %>
        <!-- sneak in previously filtered categories -->
        <% if @categories %>
          <% @categories.each do |category| %>
            <%= hidden_field_tag 'category[]', category %>
          <% end %>
        <% end %>

        <div class="button-container">
        <%= submit_tag("filter", name: nil, class: 'btn btn-primary') %>
      <% end %>

      <!-- button to clear the filter -->
      <%= form_tag({}, {method: :get, enforce_utf8: browser.ie?}) do %>
        <% if @categories %>
          <% @categories.each do |category| %>
            <%= hidden_field_tag 'category[]', category %>
          <% end %>
        <% end %>
        <%= submit_tag("clear", name: nil, class: 'btn btn-primary') %>
      <% end %>

      </div>

    </div>

  </div>
</div>
